<div class="jumbotron text-center">
	<h2>People</h2>
	<div class="btn-group" role="group" aria-label="Default Button Groups">
		<button class="btn btn-default" type="button">Everyone</button>
		<button class="btn btn-default" type="button">Friends</button>
		<button class="btn btn-default" type="button">Requests</button>
		<button class="btn btn-default" type="button">Pending</button>
	</div>
</div>

<div class="container">
	<div class="row">
		<%= render @users %>
	</div>
</div>